<div class="row">
  <div class="col-xs-12">

    <h3 class="page-header">
      Dashboard <small>Información general</small>
    </h3>

  </div>
</div> <!-- / .row -->

<!-- Dashboard: Stats -->
<div class="row">
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-orange">
      <i class="fa fa-user"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="350">0</span>
        <small>Usuarios Registrados</small>
      </h3>
    </div>

  </div>
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-pink">
      <i class="fa fa-globe"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="197">0</span>
        <small>Usuarios Online</small>
      </h3>
    </div>

  </div>
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-accent">
      <i class="fa fa-exclamation-circle"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="50">0</span>
        <small>Incidencias</small>
      </h3>
    </div>

  </div>
  <div class="col-xs-12 col-sm-3">

    <div class="dashboard-stats__item bg-teal">
      <i class="fa fa-bell"></i>
      <h3 class="dashboard-stats__title">
        <span class="count-to" data-from="0" data-to="105">0</span>
        <small>Notificaciones</small>
      </h3>
    </div>

  </div>
</div> <!-- / .row -->

<div class="row">

  <!-- Dashboard: Visitors -->
  <div class="col-xs-12 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Uso de la Aplicación <small>última semana</small>
        </h4>
      </div>
      <div class="panel-body">
        <canvas class="chart chart_visitors"></canvas>
      </div>
    </div>

  </div>

  <!-- Dashboard: Revenue -->
  <div class="col-xs-12 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Registro de Nuevos Usuarios <small>últimos 6 meses</small>
        </h4>
      </div>
      <div class="panel-body">
        <canvas class="chart chart_revenue"></canvas>
      </div>
    </div>

  </div>
</div> <!-- / .row -->

<div class="row">

  <!-- Dashboard: Feed -->
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Ultimas Incidencias
        </h4>
      </div>
      <div class="panel-body">
        <div class="dashboard__feed">
          <div class="dashboard-feed__item">
            <span class="label label-danger">
              <i class="fa fa-ambulance"></i>
            </span>
            Accidente en Callao y Corrientes
            <small>3 mins</small>
          </div>
          <div class="dashboard-feed__item">
            <span class="label label-danger">
              <i class="fa fa-ambulance"></i>
            </span>
            Accidente en Córdoba al 3400
            <small>20 mins</small>
          </div>
          <div class="dashboard-feed__item">
            <span class="label label-warning">
              <i class="fa fa-users"></i>
            </span>
            Manifestación en Ministerio de Trabajo
            <small>2 horas</small>
          </div>
          <div class="dashboard-feed__item">
            <span class="label label-info">
              <i class="fa fa-ship"></i>
            </span>
            Inundación en Belgrano al 2100
            <small>2 horas</small>
          </div>
          <div class="dashboard-feed__item">
            <span class="label label-warning">
              <i class="fa fa-random"></i>
            </span>
            Embotellamiento en Corrientes y 9 de Julio
            <small>3 horas</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dashboard: Comments -->
  <div class="col-xs-12 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Ultimas Notificaciones
        </h4>
      </div>
      <div class="panel-body">
        <div class="dashboard__comments">
          <div class="dashboard-comments__item">
            <div class="dashboard-comments__controls">
              <a href="index.html#"><i class="fa fa-share-square-o"></i></a>
              <a href="index.html#"><i class="fa fa-edit"></i></a>
              <a href="index.html#"><i class="fa fa-trash-o"></i></a>
            </div>
            <div class="dashboard-comments__avatar">
              <%= image_tag('empty-user.png') %>
            </div>
            <div class="dashboard-comments__body">
              <h5 class="dashboard-comments__sender">
                Alberto Rodriguez <small>Hace 30 minutos</small>
              </h5>
              <div class="dashboard-comments__content">
                Choque en la calle Amenabar al 1400.
              </div>
            </div>
          </div>
          <div class="dashboard-comments__item">
            <div class="dashboard-comments__controls">
              <a href="index.html#"><i class="fa fa-share-square-o"></i></a>
              <a href="index.html#"><i class="fa fa-edit"></i></a>
              <a href="index.html#"><i class="fa fa-trash-o"></i></a>
            </div>
            <div class="dashboard-comments__avatar">
              <%= image_tag('empty-user.png') %>
            </div>
            <div class="dashboard-comments__body">
              <h5 class="dashboard-comments__sender">
                Jorge Martinez <small>Hce 40 minutos</small>
              </h5>
              <div class="dashboard-comments__content">
                Se está realizando una manifestación en el crece de las calles Rivadavia y 9 de Julio.
              </div>
            </div>
          </div>
          <div class="dashboard-comments__item">
            <div class="dashboard-comments__controls">
              <a href="index.html#"><i class="fa fa-share-square-o"></i></a>
              <a href="index.html#"><i class="fa fa-edit"></i></a>
              <a href="index.html#"><i class="fa fa-trash-o"></i></a>
            </div>
            <div class="dashboard-comments__avatar">
              <%= image_tag('empty-user.png') %>
            </div>
            <div class="dashboard-comments__body">
              <h5 class="dashboard-comments__sender">
                Nancy Torres <small>Hace 1 hora</small>
              </h5>
              <div class="dashboard-comments__content">
                Se rompio desague en la avenida Córdoba al 3000.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div> <!-- / .row -->
