<footer class="footer">
  <div class="row">
    <div class="col-xs-12">

      &copy; Company 2016. All rights reserved.
      <a href="index.html#">Terms of Service</a> |
      <a href="index.html#">Privacy Policy</a>
    </div>
  </div>
</footer>
