<footer class="footer">
  <div class="row">
    <div class="col-xs-12">

      &copy; Hackaton Smart Cities 2016. Todos los derechos reservados.
      <a href="index.html#">Términos del servicio</a> |
      <a href="index.html#">Política de Privacidad</a>
    </div>
  </div>
</footer>
