
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js" type="text/javascript"></script>
// El usig.MapaInteractivo.min.js ya tiene todos los componentes necesarios con excepcion de jQuery
<script src="http://servicios.usig.buenosaires.gov.ar/usig-js/3.1/usig.MapaInteractivo.min.js" type="text/javascript"></script>

<div class="id-div-mapa">

</div>

<script type="text/javascript">
var ac = new usig.MapaInteractivo('id-div-mapa', {
  onReady: function() {

  }
});
</script>
