<ul class="nav nav-tabs">
  <li role="presentation"><a href="/m/carga_trayecto">NUEVO VIAJE</a></li>
  <li role="presentation"><a href="/m/denuncia">DENUNCIA</a></li>
</ul>

<h2>CARGAR QR</h2>

<div id="qr"></div>
