<ul class="nav nav-tabs">
  <li role="presentation"><a href="/m/carga_trayecto">NUEVO VIAJE</a></li>
  <li role="presentation"><a href="/m/carga_qr">CARGAR QR</a></li>
</ul>

<h2>DENUNCIAR INCIDENTE</h2>

<%= form_tag("/m/denuncia", method: "post", id: "formDenuncia") do %>
	<div class="control-group">
		<textarea class="form-control" name="descripcion" placeholder="DESCRIPCIÓN" rows="10"></textarea>
		<input type="hidden" name="lat" id="lat"/>
		<input type="hidden" name="lng" id="lng"/>
	</div>
	<div class="control-group">
		<br/>
		<button type="button" class="btn btn-info btn-lg" onClick="enviar()">
			<i class="fa fa-paper-plane"></i> ENVIAR
		</button>
	</div>
<% end %>

<script>
	function enviar () {
		if ("geolocation" in navigator) {
			navigator.geolocation.getCurrentPosition(function(position) {
				console.log(position.coords.latitude);
				document.getElementById("lat").value = position.coords.latitude;
				document.getElementById("lng").value = position.coords.longitude;
				document.getElementById("formDenuncia").submit();
			});
		} else {
			console.log("no geolocation");
		}
	}
</script>
