<div class="row">
	<div class="col-xs-12 signin-logos text-center">
		<%= image_tag 'glico_128x128.png' %>
		<%= image_tag 'ladri_128x128.png' %>
	</div>
</div>
<div class="row text-center">
	<h1 class="signin-header">&iexcl;Glico!</h1>
</div>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10">

		<%= form_tag do %>
			<div class="form-group">
				<input type="text" class="form-control input-lg" placeholder="e-mail"/>
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" placeholder="contraseña"/>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-success btn-lg">Ingresar</button>
				<button type="button" class="btn btn-primary btn-lg">Registrarse</button>
			</div>
		<% end %>

	</div>
</div>
